@media (max-width:767px) {
  .item img {
    display: block;
    width: 100%;
    height:100% !important
}
.item{
  height:400px !important
}
.cover .header-content h6{
  width:100% !important;
  font-size:10px !important;
}
.services li a {
  background: #C3A37E;
  padding: .4rem .5rem !important;
  color: #ffff;
  font-size: 10px !important;
 
}
.services ul img{
  width:12px !important
}
.log #img1{
  width:40px !important
}
.log #img2 {
  width: 100px !important;
  margin-right:0rem !important;
}
.cover .header-content h2{
  font-size:30px !important;
}
.right-side{
  margin-top:10rem !important;
  
}
.left-side{
  margin-top:10rem !important;
  
} 
.right-side li a img{
  width:30px !important;
  height:30px !important;
}
.left-side li a img{
  width:30px !important;
  height:30px !important;
}
.services {
  padding: 1rem !important;
}
.card{
  margin-top:0.5rem;
}
.top-image{
  margin-top:1rem;
  margin: auto;
  display: table;
}
.swiper-container {
  width: 100%; 
  height:400px !important;
  overflow: hidden;
  /* height: 34vw; */
  transition:opacity .6s ease, transform .3s ease;
  &:hover{
    .swiper-button-prev,
    .swiper-button-next{
      transform:translateX(0);
      opacity:1;
      visibility:visible;
    }
  }
  &.loading{
    opacity:0;
  }
  &.scale-out{
    transform:scale(.7);
  }
  &.scale-in{
    transform:scale(1);
  }
}
.swiper-wrapper{

}
.body-box{
  margin-right:1rem;
}
.box-simple p{
font-size:12px !important;
}
.footer h4 {
  text-align: center;
}
.footer-links{
  margin: auto;
  display: table;
}
.bottom-foot{
  margin: auto;
  display: table;
}
.bottom-foot li{
  margin-right:0.5rem;
}
.last-paragraghe {
  font-size: 12px;
}
.swiper-slide img{
  overflow: hidden;
  width: 100%;
  height:400px !important;
  
  
}
.ty{
  margin-top: 4.5rem;
}

}
/*small screen*/
@media (min-width: 768px) and (max-width: 991.98px){



}
/*medium screen*/
@media (min-width:992px) and(max-width:1199px){

}
/*large screen*/

@media(min-width:300px)  {


}
