



.auth-wrapper .bg2 {
  height: 100vh;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
display: flex;
justify-content: center;
align-items: center;
  
}

.auth-wrapper .bg3 {
height: 100%;

}

.auth-wrapper .bg2 .overlay{
  position: absolute;
  width: 100%;
      height: 100vh;

 background: rgba(6, 12, 34, 0.8);
  background: rgb(1,24,42);
  background: radial-gradient(circle, rgba(0,0,0,0.7) 0%, rgba(1, 24, 42,0.8) 54%, rgba(1, 24, 42,1) 99%);
  
left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: .9
}

.auth-wrapper .bg3 .overlay{
height: 100%;

}


.bg2 .logo-centered{
  text-align: center;
  z-index: 9999;
}
.bg2 .logo-centered p{
  text-align: center;
  z-index: 9999;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-transform:uppercase
}
.bg2 .social-links a {
  display: inline-block;
  padding: 5px;
  width: 30px;
  text-align: center;
  line-height: 15px;
  color: #f9982f;
  border: 1px solid #9b99b0;
  border-radius: 5px;
  background: #fff;
}

.bg2 .social-links a:hover {
  background: #f9982f;
  color: #fff;
  border-color: #f9982f;
}


.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: #C3A37E;
}
.custom-control-label::before {
  position: absolute;
}
/*---------------------------------------------*/
input {
outline: none;
border: none;
}


.wrap-login .logo-centered{
  text-align: center;
  z-index: 9999;
  width: 260px; 
  margin: 0px auto 30px auto
}
.wrap-login .logo-centered img{ width: 100%; height:auto}

.logo-centered .text{font-weight: 600; font-size: 20px; margin-top: 10px; color: #fff}

.custom-checkbox .custom-control-label {
  line-height: 24px;
  color: #273044;
  font-size: 16px;
}
.container-login .text-right a {
  line-height: 24px;
  color: #273044;
  font-size: 15px;
}
.container-login a.forget {
  line-height: 24px;
  color: #273044;
  font-size: 15px;
}
.container-login {
width: 100%;  

justify-content: center;
align-items: center;
position: relative;
z-index: 1; 
      margin: 20px 0;
}
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #fff;}
input:-moz-placeholder { color: #fff;}
input::-moz-placeholder { color: #fff;}
input:-ms-input-placeholder { color: #fff;}


label {
margin: 0;
display: block;
}

/*---------------------------------------------*/
button {
outline: none !important;
border: none;
background: transparent;
}

button:hover {
cursor: pointer;
}




.wrap-login {
  position: relative;

border-radius: 10px 80px 10px 80px;
overflow: hidden;
padding:20px 40px;

  background-image: url('../images/ba.jpg');
  background-color: rgba(255, 255, 255, 0.7);
}



.login-form-title {
font-size: 25px;
color: #fff;
line-height: 1.2;
text-align: center;
text-transform: uppercase;
display: block;
}


/*------------------------------------------------------------------
[ Input ]*/



/*---------------------------------------------*/ 

.login-form .input-group {
width: 100%;
position: relative;
margin-bottom: 20px;
}

.form-control {
font-size: 16px;
color: #fff;
line-height: 1.2;
display: block;
width: 100%;
height: 45px;
background: #34405a;
padding: 0 10px 0 10px;
border: 0;

-moz-transition: 0.5s ease-in-out;
-o-transition: 0.5s ease-in-out;
-webkit-transition: 0.5s ease-in-out;
transition: 0.5s ease-in-out;
box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.06);
border-radius: 5px;
}

.form-control::placeholder { color: #fff}

.login-form .form-control:focus {
padding-right: 5px;
border-right: 5px solid #C3A37E;
box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.07);
  background: #34405a;
  color: #fff;




}
.login-form .label {

color: #C3A37E;
  margin-bottom: 10px;
  font-size: 16px


}

.login-form .input-group .input-group-prepend .input-group-text {
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
background-color: #2e3950;
border-color: #2e3950;
color: #C3A37E;
padding-right: 13px;
height: 45px;
font-size: 18px;
box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.06);

}

.login-form-btn {
font-size: 14px;
color: #fff;
line-height: 1.2;
padding: 15px 25px;
border-radius: 25px;
  margin: 10px 0px ;
background: #273044;
-webkit-transition: all 0.4s;
-o-transition: all 0.4s;
-moz-transition: all 0.4s;
transition: all 0.4s;
  font-weight: 600
}



.login-form-btn:hover {
color: #fff;
  background:#C3A37E;
}




.jtc img { width:100%;  border-radius: 10%}
.jtc h3 {color: #273044; font-size: 18px; text-align: center; margin-bottom: 10px; margin-top: 0}
.jtc p {color: #273044; font-size: 14px; text-align: center; margin-top: 4px}

.login-so { margin-top: 20px}

.login-so p{ color: #273044; font-size: 14px ; margin: 1px}

.login-so i {
width: 40px;
  height: 40px;
text-align: center;
text-decoration: none;
margin: 5px 2px;
border-radius: 50%;
  font-size: 18px;
  line-height: 40px;
  text-align: center
}

.login-so i:hover {
  opacity: 0.7;
}

.login-so .fa-google {
background: #dd4b39;
color: white;
}

.login-so .fa-linkedin-in {
background: #007bb5;
color: white;
}




/*------------------------------------------------------------------
[ Responsive ]*/
@media (max-width: 960px) {
.logo-centered .img-b{width: 300px}

}


@media (max-width: 760px) {
.container-login {
margin-top: 0px

}
  .auth-wrapper .bg2 {
  height: 100%;

  
}

.auth-wrapper .bg2 .overlay{
      height: 100%;

}
  .jtc h3 {
  font-size: 16px;
  margin-bottom: 12px;
  margin-top: 12px;
}
  .login-form-btn {

  padding: 15px 16px;

}
}
.alert-box p{
color: #34405a;
transition: 0.5s ease-in-out;
font-family: "ArbFONTS-PNU-Bold.ttf";
}
.input-group-text{
border-radius:none !important;
}

input[type="date"] {
display:block;
position:relative;

border-radius:5px !important;
font-size:1rem;
font-family:monospace;
border-top-right-radius:25px;
border-bottom-right-radius:25px;
outline:0 !important;
margin-top:0rem !important;
border-radius:0.25rem;
/* background:
  white
  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='22' viewBox='0 0 20 22'%3E%3Cg fill='white' fill-rule='evenodd' stroke='%23688EBB' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' transform='translate(1 1)'%3E%3Crect width='18' height='18' y='2' rx='2'/%3E%3Cpath d='M13 0L13 4M5 0L5 4M0 8L18 8'/%3E%3C/g%3E%3C/svg%3E")
  right 1rem
  center
  no-repeat; */
 
cursor:pointer;

}
input[type="date"]:focus {
outline:none;


}

::-webkit-datetime-edit {}
::-webkit-datetime-edit-fields-wrapper {}
::-webkit-datetime-edit-month-field:hover,
::-webkit-datetime-edit-day-field:hover,
::-webkit-datetime-edit-year-field:hover {
background:rgba(0, 120, 250, 0.1);
}
::-webkit-datetime-edit-text {
opacity:0;
}
::-webkit-clear-button,
::-webkit-inner-spin-button {
display:none !important;
}
::-webkit-calendar-picker-indicator {
position:absolute;

height:100%;
top:0;
right:0;
bottom:0;

opacity:0 !important;
cursor:pointer;

/* color:#fafcfd;
background:#34405a; */

}

input[type="date"]::-webkit-calendar-picker-indicator { opacity:1;}
input[type="date"]::-webkit-calendar-picker-indicator:hover { opacity:1;}

.register-form .form-group .input-group-text{
background-color: #aeb3bd30;
border-top-right-radius:10px !important;
border-bottom-right-radius:10px;
}

.icon-date{
background: #000;
z-index: 999;
pointer-events: none;
font-size: 20px;
/* margin-top: 5px; */
background-color: #34405a;
padding: 7px 10px;
position: absolute;
/* padding: 17px; */
/* border-radius: 0rem !important; */
border-radius:5px !important;
cursor: pointer;

}
.login-link{
font-weight: bold;
  color: #34405a;
  border-bottom:1px solid #34405a;
}
.login-link:hover{
color:rgb(32, 24, 15)
}

.icon-date i{
/* position: absolute; */
z-index: 999;
color: #c3a37e;

cursor: pointer;

}
.valid{
color: #dc3545;
text-align: center;

 padding:1px;
width:70%; 
margin: auto;
display: table;

margin-bottom:3px;
border-top-left-radius:10px;
border-bottom-left-radius:10px;
position: relative;
margin-bottom: -10px;


}
.valid {
color:#dc3545;
font-family: "ArbFONTS-PNU-Bold.ttf";
font-size:14px;
font-weight: 600;
width:100%;
}